<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="dom" name="DOM for Archi scripts" schema="schema/dom.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.archimatetool.script.ShowScriptsViewHandler"
            id="com.archimatetool.scripts.command.showScriptsView"
            name="Toggle Scripts Manager">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:tools">
         <separator
               name="com.archimatetool.script.menu.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.archimatetool.scripts.command.showScriptsView"
               icon="img/script.png"
               label="Scripts"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.archimatetool.scripts.toolbar">
            <command
                  commandId="com.archimatetool.scripts.command.showScriptsView"
                  icon="img/script.png"
                  style="push">
            </command>
            <separator
                  name="com.archimatetool.script.toolbar.separator1"
                  visible="true">
            </separator>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:com.archimatetool.editor.treeModelView?before=start_properties">
         <menu
               id="com.archimatetool.script.menu"
               label="Scripts">
            <dynamic
                  class="com.archimatetool.script.ScriptsContextMenuContributionItem"
                  id="com.archimatetool.script.menu">
            </dynamic>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.archimatetool.script.views.scripts.ScriptsFileViewer"
            icon="img/script.png"
            id="com.archimatetool.script.scriptsView"
            name="Scripts Manager"
            restorable="true">
      </view>
      <view
            class="com.archimatetool.script.views.console.ConsoleView"
            icon="img/console_view.png"
            id="com.archimatetool.script.consoleView"
            name="Scripts Console"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="com.archimatetool.script.scriptsView"
               minimized="false"
               relationship="stack"
               relative="com.archimatetool.editor.propertiesView">
         </view>
         <view
               id="com.archimatetool.script.consoleView"
               minimized="false"
               relationship="right"
               relative="com.archimatetool.script.scriptsView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.archimatetool.script.Startup"></startup>
   </extension>
   <extension
         point="com.archimatetool.script.dom">
      <dom
            class="com.archimatetool.script.dom.ui.Browser"
            id="com.archimatetool.script.browser"
            variableName="Browser">
      </dom>
      <dom
            class="com.archimatetool.script.dom.ui.Console"
            id="com.archimatetool.script.console"
            variableName="console">
      </dom>
      <dom
            class="com.archimatetool.script.dom.model.A"
            id="com.archimatetool.script.A"
            variableName="A">
      </dom>
      <dom
            class="com.archimatetool.script.dom.utils.ScriptUtils"
            id="com.archimatetool.script.utils"
            variableName="ScriptUtils">
      </dom>
      <dom
            class="com.archimatetool.script.dom.ui.UI"
            id="com.archimatetool.script.ui"
            variableName="UI">
      </dom>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.archimatetool.script.preferences.ScriptPreferencePage"
            id="com.archimatetool.script.preferences.ScriptPreferencePage"
            name="Scripting">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.archimatetool.script.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
